<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/controller.js"></script> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="start">Start Container</div>
  </body>
</html>