<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.6.2.min.js"></script>
    <script src="/javascripts/jquery-canvas-sparkles.js"></script>
    <script src="/javascripts/controller.js"></script>
    <script src="/javascripts/game.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="prefetch" href="/audio/music.mp3">
  </head>
  <body>
    <div id="game" class="shadow">
      <img id="game_end" class="game_end" src="/images/SudoTunic_EndGame.png" />
      <img id="level_3" class ="level_3" src="/images/SudoTunic_Level_3.png" />
      <img id="level_2" class="level_2" src="/images/SudoTunic_Level_2.png" />
      <img id="level_1" class ="level_1" src="/images/SudoTunic_Level_1.png" />
      <img id="game_start" class="game_start" src="/images/SudoTunic_GameBase.png" />
    </div>
    <div class="start">
      <h1>STAY ON THE GOLDEN PATH</h1>
      <p class="push_any_button">Press any button...</p>
    </div>
  </body>
</html> 